<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518736463985-179bcuk1s4hsg86th85ik305rkqpiqu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518736463985-179bcuk1s4hsg86th85ik305rkqpiqu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCDpCmB0DQT5sMFNNzoz9aF5_l5cnLFX5I</string>
	<key>GCM_SENDER_ID</key>
	<string>518736463985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wamballa.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-6ab73</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-6ab73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518736463985:ios:a8d0eb32fa07324e46b3d0</string>
</dict>
</plist>